div.row
  -@tweets.each do |tweet|
    div.tweet-panel.large-12.columns
      div.large-1.columns
        =image_tag tweet.user.profile_image_url, class: 'user_icon'
      div.large-11.columns
        p #{tweet.user.name} (@#{tweet.user.screen_name})
        =auto_link(tweet.text)
        ul.tweet-action-list
          li
            =link_to retweet_path(id: tweet.id, retweeted: tweet.retweeted), method: :post, remote: true, onClick: "changeColor(this, 'retweet', #{tweet.retweeted});", id: :retweet, class: (tweet.retweeted ? "retweeted" : "") do
              =fa_icon "retweet", text: "#{tweet.retweet_count}"
          li
            =link_to favorite_path(id: tweet.id, favorited: tweet.favorited), method: :post, remote: true, onClick: "changeColor(this, 'favorite', #{tweet.favorited});", id: :favorite, class: (tweet.favorited ? "favorited" : "") do
              =fa_icon "star", text: "#{tweet.favorite_count}"