div.row
  div.small-12.columns
    =form_tag(tweet_path, method: :post)
      =text_area_tag 'tweet', nil, class: 'radius', maxlength: '140'
      =submit_tag 'ツイートする', data: {disable_with: "送信中..."}, class: 'button radius right'
