@import "foundation/components/panels";
@import "foundation/components/thumbs";
@import "foundation/components/inline-lists";

textarea#tweet{
  margin-top: 15px;
  resize: vertical;
  height: 70px;
}

.user_icon {
  @include thumb(
    $border-width: 2px,
    $box-shadow: 0 0 0 1px rgba(#000,.2),
    $box-shadow-hover: 0 0 6px 1px rgba(#ccc,0.5)
  );
  margin: 3px;
  height: 48px;
  width: 48px;
}

.tweet-panel {
  @include panel(
    $bg:white,
    $padding:10px,
    $adjust:true
  );
  margin: 0px;
}

.user-panel {
  @include panel(
    $bg:white,
    $padding:10px,
    $adjust:true
  );
  margin: 0px;
}

.tweet-action-list {
  @include inline-list();
  margin-top: 8px;
  font-size: 15px;
  li {
    width: 50px;
    line-height: 17px;
    i {
      float: left;
      clear: both;
      margin: 2px;
    }
    a {
      color: gray;
    }
    a.retweeted {
      color: green;
    }
    a.favorited {
      color: orange;
    }
  }
}